.site-footer {
  padding: 0 24px;
}

.site-footer > section {
  border-top: 1px solid #d6d6d6;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
}
