.inner{
  background: #fff;
  box-shadow: var(--drop-shadow);
  position: relative;


  overflow: hidden;
}

.inner:hover .overlay {
  opacity: 1;
}

.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.image {
  display: block;
  max-width: 100%;
}
